.home-section {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    /*background-image: url('./Assets/TitlePictures/HomePagePicture.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background fixed */
    color: white;
    text-align: center;
  }